@import "../../assets/colors";

.container {
  margin: 0 auto;
  max-width: 1120px;

  @media(max-width: 1120px) {
    max-width: 1000px;
  }
  @media(max-width: 1000px) {
    max-width: 850px;
  }
  @media(max-width: 900px) {
    max-width: 750px;
  }
  @media(max-width: 835px) {
    max-width: 699px;
  }
}


.footer {
  display: flex;
  margin: 33px 0 33px;
  justify-content: space-between;
  font-family: 'Helios', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: $secondary;
}