@import "../../assets/colors";

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 49px 32px;

  @media (max-width: 835px) {
    gap: 30px 32px;
  }
}

hr {
  border-width: 1px;
  width: 100%;
  background-color: $light;
}